.DS_Store
*.swp
.vscode
.idea

**/target
**/*.rs.bk
.wasm-binaries
rls*.log
**/Cargo.lock
!/Cargo.lock

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

**/node_modules
**/logs
**/tmp
**/.env
**/.vitepress/cache
**/.vitepress/dist
**/.svelte-kit
**/vite.config.js.timestamp-*
**/vite.config.ts.timestamp-*
